@{
	Layout = null;
}
<html lang="zxx">
<!--header partial-->
@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")
<!--header partial-->
<body>
	<!--navbar partial-->
	@await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")
	<!--navbar partial -->

	<!--Slider Parial -->
	@RenderBody()
	<!--Slider Parial -->
	
	<!--footer partial -->
	@await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
	<!--footer partial -->

	<!--scripts partial-->
	@await Html.PartialAsync("/Views/LayoutPartial/_ScriptsPartial.cshtml")
	<!--scripts partial-->

</body>

</html>